<h1 class="bg-primary p-4 text-center text-white">HTTP Module</h1>

<div class="container">
    <div class="row">
        <div class="col-sm-8 offset-2">
            <form [formGroup]="creatPostForm" (ngSubmit)="onCreatSubmit()">
                <div class="form-group">
                    <label for="title" class> Title</label>
                    <input type="text" id="title" formControlName="title" name="title" class="form-control">
                </div>

                <div class="form-group">
                    <label for="postContent" class>PostContent</label>
                    <textarea type="text" id="postContent" formControlName="postContent" value='4'
                        class="form-control"> </textarea>
                </div>

                <input type="submit" class="btn btn-primary form-control" [disabled]="creatPostForm.invalid"
                    value="Submit" *ngIf="!isUpdated">
                <input type="button" class="btn btn-success form-control" value="Update" *ngIf="isUpdated"
                    (click)="onUpdate()">

                <div class="spinner-border text-primary loading" *ngIf="loader" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container">
    <div class="col-sm-8 offset-2">
        <div id="post">
            <div *ngFor="let post of loadedPost" class="card m-4 " [id]="post.id">
                <div class="card-header bg-info">
                    {{post.title}}

                </div>
                <div class="card-body ">
                    {{post.postContent}}

                </div>

                <div class="card-footer text-right">
                    <button class="btn btn-primary mr-2" (click)="onEditPost(post)">Edit</button>
                    <button class="btn btn-danger" (click)="onDeletePost(post)">Delete</button>

                </div>
            </div>

            <div class="alert alert-danger mt-4" *ngIf="loadedPost.length == 0 &&  !errorMsg"> Post is not yet</div>
            <!-- <div class="alert alert-danger mt-4" *ngIf=" errorMsg">  {{errorMsg}}</div> -->


        </div>
    </div>

</div>